#body{
	background-color: green;
}

#center{
	width: 300px;
	margin: 0 auto;
	border: 1px solid blue;
	font-size: 20px;
	
	text-transform: toUpperCase;
}


footer{
	width: 500px;
	height: 50px;
	background-color: red;
	margin: 0 auto;
};

#home{
	float: left;
}

#about{
	float: right;
}
